<div class="sidebar">

  <h5 class="text-center text-white py-3">🎓 Student Panel</h5>

  <ul class="menu">

    <li routerLink="/student/dashboard" routerLinkActive="active">
      🏠 Dashboard
    </li>

    <li routerLink="/student/add-complaint" routerLinkActive="active">
      ➕ Add Complaint
    </li>

    <li routerLink="/student/my-complaints" routerLinkActive="active">
      📋 My Complaints
    </li>

    <li routerLink="/student/profile" routerLinkActive="active">
      👤 Profile
    </li>

  </ul>

</div>