.profile-card {
  max-width: 420px;
  margin: auto;
  border-radius: 18px;
  transition: 0.3s;
}

.profile-card:hover {
  transform: translateY(-3px);
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #0d6efd;
  object-fit: cover;
}