<div class="page-card">

  <h4 class="mb-3">🔒 Change Password</h4>

  <form (ngSubmit)="changePassword()">

    <!-- Old Password -->
    <div class="mb-3">
      <label>Old Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="form.old_password"
        name="old_password"
        required
      >
    </div>

    <!-- New Password -->
    <div class="mb-3">
      <label>New Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="form.new_password"
        name="new_password"
        required
      >
    </div>

    <!-- Confirm Password -->
    <div class="mb-3">
      <label>Confirm Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="form.new_password_confirmation"
        name="new_password_confirmation"
        required
      >
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <!-- Button -->
    <button class="btn btn-danger w-100" [disabled]="loading">
      {{ loading ? 'Changing...' : 'Change Password' }}
    </button>

  </form>

</div>