<div class="admin-page container-fluid px-2 px-sm-3 py-3 py-md-4">

  <div class="page-card">

    <h4 class="mb-3 text-center text-md-start fs-5">Profile</h4>

    <form (ngSubmit)="updateProfile()">

      <label class="form-label">Name</label>
      <input
        class="form-control mb-3"
        [(ngModel)]="profile.name"
        name="name"
      >

      <label class="form-label">Email</label>
      <input
        class="form-control mb-3"
        [(ngModel)]="profile.email"
        name="email"
      >

      <label class="form-label">Role</label>
      <input
        class="form-control mb-3"
        [value]="profile.role"
        readonly
      >

      <label class="form-label">Account Created</label>
      <input
        class="form-control mb-3"
        [value]="profile.created_at | date:'medium'"
        readonly
      >

      <button type="submit" class="btn btn-primary w-100 py-2">
        Update Profile
      </button>

    </form>

  </div>

</div>
