<div class="d-flex">

  <!-- Sidebar -->
  <div class="sidebar p-3">

    <h4 class="text-white text-center mb-4">⚡ CMS</h4>

    <ul class="nav flex-column">

      <li>
        <a routerLink="/student/dashboard" class="nav-link">
          <i class="bi bi-speedometer2"></i> Dashboard
        </a>
      </li>

      <li>
        <a routerLink="/complaint/add" class="nav-link">
          <i class="bi bi-plus-circle"></i> Add Complaint
        </a>
      </li>

      <li>
        <a routerLink="/complaint/list" class="nav-link">
          <i class="bi bi-file-text"></i> My Complaints
        </a>
      </li>

      <li class="mt-4">
        <button class="btn btn-danger w-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </li>

    </ul>

  </div>

  <!-- Main Content -->
  <div class="content p-4 w-100">
    <router-outlet></router-outlet>
  </div>

</div>