<div class="container mt-4">

  <div class="card shadow p-4">

    <h4 class="text-center mb-4">📂 Category Management</h4>

    <!-- ADD -->
    <div class="row mb-3">
      <div class="col-md-9">
        <input type="text" class="form-control"
               [(ngModel)]="name"
               placeholder="Enter category name">
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100" (click)="addCategory()">
          ➕ Add
        </button>
      </div>

      <div class="text-danger mt-1" *ngIf="error?.name">
        {{ error.name[0] }}
      </div>
    </div>

    <!-- TABLE -->
    <table class="table table-bordered table-hover text-center">

      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of categories; let i = index">
          <td>{{ (currentPage - 1) * 10 + i + 1 }}</td>
          <td>{{ c.name }}</td>
          <td>
            <button class="btn btn-danger btn-sm"
                    (click)="deleteCategory(c.id)">🗑</button>
          </td>
        </tr>

        <tr *ngIf="categories.length === 0">
          <td colspan="3">No data</td>
        </tr>
      </tbody>

    </table>

    <!-- PAGINATION -->
    <div class="d-flex justify-content-between align-items-center mt-2">

      <div>
        Showing {{ (currentPage - 1) * 10 + 1 }}
        to {{ (currentPage - 1) * 10 + categories.length }}
        of {{ total }} entries
      </div>

      <ul *ngIf="lastPage > 1" class="pagination mb-0">

        <li class="page-item" [class.disabled]="currentPage===1">
          <button class="page-link" (click)="changePage(currentPage-1)">Prev</button>
        </li>

        <li *ngFor="let p of [].constructor(lastPage); let i=index"
            class="page-item"
            [class.active]="currentPage===i+1">
          <button class="page-link" (click)="changePage(i+1)">
            {{ i+1 }}
          </button>
        </li>

        <li class="page-item" [class.disabled]="currentPage===lastPage">
          <button class="page-link" (click)="changePage(currentPage+1)">Next</button>
        </li>

      </ul>

    </div>

  </div>

</div>