.card {
  border-radius: 12px;
}

label {
  font-weight: 600;
}

input {
  border-radius: 6px;
}

table {
  border-radius: 10px;
  overflow: hidden;
}

button {
  border-radius: 6px;
}

/* hover effect */
.table tbody tr:hover {
  background-color: #f8f9fa;
}